{% extends 'mi_app/bases/base.html' %}


{% load static %}

{% block title %} Inicio {% endblock title %}

{% block main %}
    <!-- Content section 1-->
    <section id="scroll">
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5"><img class="img-fluid rounded-circle" src="{% static 'mi_app/assets/img/01.jpg' %}" alt="..." /></div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">"Uno no es lo que es por lo que escribe, sino por lo que ha leído"</h2>
                        <p>Jorge Luis Borges</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Content section 2-->
    <section>
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6">
                    <div class="p-5"><img class="img-fluid rounded-circle" src="{% static 'mi_app/assets/img/02.jpg' %}" alt="..." /></div>
                </div>
                <div class="col-lg-6">
                    <div class="p-5">
                        <h2 class="display-4">"El que lee mucho y anda mucho, ve mucho y sabe mucho"</h2>
                        <p>Miguel de Cervantes</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Content section 3-->
    <section>
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5"><img class="img-fluid rounded-circle" src="{% static 'mi_app/assets/img/03.jpg' %}" alt="..." /></div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">Para viajar lejos, no hay mejor nave que un libro</h2>
                        <p>Emily Dickinson</p>
                    </div>
                </div>
            </div>
        </div>
    </section>    
    {% endblock main %}